body{
    background-color: #cccccc;
}

.page-header {
    background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
}

#contenido{
    min-height: 300px;
    padding: 20px;
    padding-top: 60px;
}

#form_logueo{
    width: 300px;
    margin: 0 auto;
    border: 1px solid #999999;
    padding-bottom: 0px;
}

#form_logueo .clearfix{
    margin-bottom: 7px;
}

#form_logueo .submit_logueo{
    text-align: right;
}

#form_logueo .clearfix input{
    width: 97%;
}

.nav{
    float: none !important;
}
/*
.nav .menu_salir{
    float: right;
}*/

.clearfix, .alert-message{
    margin-bottom: 7px !important;
}

table tfoot th{
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
}

.container > .content {
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}