/* Scaffold */
#scaffold {
    font-family:arial;
    font-size: 14px;
}
#scaffold table{
    width:100%;
    border-collapse: collapse;
    border: 1px solid #999;
    margin:10px 0pt 15px;
    padding:0px;
}

#scaffold table img{
    border: none;
}

#scaffold table tbody a{
    display: inline-block;
}

#scaffold_form table td{
    vertical-align: top;
}

#scaffold th{
    background: #ECECEC;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    font-weight:bold;
    padding: 6px;
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
}
#scaffold tr{
    border-bottom: 1px solid #999;
    background:#FFF;
}
#scaffold tr:nth-child(even) {
    background:#f4f5f5;
}
#scaffold tr:hover{
    background: #ddd;
}

.actions input{
    display: inline-block;    
}

#scaffold td{
    border-right:1px solid #999;
    padding: 4px;
}

.paginator{
    text-align: center;
}

.paginator a{
    color: #777777;
    font-size: 12px !important;
    font-weight: bold !important;
    text-decoration: none;
}

.actions {
    border-top: dotted 1px grey;
    padding-top: 1em;
    margin: .5em 0 0;
}

label {
    font-weight:bold;
}
.title{
    font-size: 1.5em;
}
h1{
    margin-left: 50px;
}


textarea, input[type="text"], input[type="password"] {
    border: 1px solid #BBB;
    padding: 2px;
    width:80%;
}

.requerido{
    color: #F00;
}

#scaffold_form table input,
#scaffold_form table textarea,
#scaffold_form table select{
    width: 300px;
}

#scaffold_form table{
    line-height: 25px;
}

/********* FORMULARIO DE FILTRADO DE RESULTADOS ********/

.form_filtro {
    margin: 5px 1em 5px 1em ;
    padding: 5px;
    border: 1px solid #777;    
}
.form_filtro table {
/*    border: 0px;*/
/*    border-collapse: collapse;*/
    width: 100%;
}

.form_filtro table td{
    border: 0px; 
    text-align: center;
    vertical-align: bottom;
}
.form_filtro label{
/*    margin-left: 15px;*/
    display: block;
}

.form_filtro .botones{
    text-align: center;
}

.form_filtro table td input[type=text],
.form_filtro table td input[type=date],
.form_filtro table td select{
    width: 85%;
}